html,body{
    margin:0;
}

@font-face {
    font-family: runa;
    src: url(/fonts/runaserif-m.otf);
}

@font-face {
    font-family: runal;
    src: url(/fonts/runaserif-l.otf);
}

html{background-color:#444}

body{background-color:#fff;}

/* Navbar */

.navbar{
    background-color: #d9d9d9;
    font-family: runa;
}




/* Menu */

.menu ul{
    font-family: runa;
    font-size:22px;
}

.menu li{
    font-family: runal;
    font-size:22px;
    list-style: none;
    transition: 0.5s;
}

.menu li:hover{
    font-family: runal;
    font-size:22px;
    list-style: none;
    color:#66b471;
    transition: 0.5s;
}

.menu a{
    text-decoration: none;
}
